@model CejkaTomas_UFC_APP.Models.Fighter

<h1>@Model.Name</h1>

<p><strong>Nickname:</strong> @Model.Nickname</p>
<p><strong>Weight class:</strong> @Model.WeightClass</p>
<p><strong>Wins:</strong> @Model.Wins</p>
<p><strong>Losses:</strong> @Model.Losses</p>

<a asp-action="Index">Back</a>

